@model IEnumerable<BookShopOnline_ProjectSem3.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Genre #</th>
                                        <th>Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.GenreID">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GenreName)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.GenreID }) |
                                                @*@Html.ActionLink("Delete", "Delete", new { id = item.GenreID })*@
                                                @Ajax.ActionLink("Delete", "Delete", new { id = item.GenreID }, new AjaxOptions
                                                {
                                                    Confirm = "Do you want to delete this record ?",
                                                    OnComplete = "$('#row_" + item.GenreID + " ').remove()",
                                                    HttpMethod = "Delete"
                                                })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





